braceexpand==0.1.6
editdistance==0.5.3
frozendict==1.2
inflect==5.0.2
kaldi-io==0.9.4
librosa==0.8.0
marshmallow==3.9.1
packaging==20.8
ruamel.yaml==0.16.12
soundfile
sox==1.4.1
torch-stft==0.1.4
unidecode
kaldi-python-io==1.2.1
scipy==1.5.4
pandas==1.1.5
g2p_en==2.1.0
